<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} | Dario Varotto</title>
	{% if not debug %}{% include 'analytics.html' %}{% endif %}
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=1024"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="description" content="A brief presentation of Dario Varotto's curriculum"/>
	<meta name="author" content="Dario Varotto"/>

	<link rel="shortcut icon" href="/static/favicon.ico"/>
	{% block styles %}
		<link rel=stylesheet href="/static/styles/cv.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	{% endblock %}
</head>

<body class="impress-not-supported">
{% block body %}{% endblock %}
</body>

</html>
