{% extends 'base.html' %}
{% block title %}Curriculum vitae{% endblock %}

{% block body %}
<div class="fallback">
	<div class="message">
		<p>This CV has been made as a quick excerpt on my CV and to experiment some cool HTML style but is not meant to
			be too compliant with older browsers.</p>

		<p>Your browser <b>doesn't support some features required</b> to correctly see this CV.</p>

		<p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	</div>
</div>


<div id='impress'>
	<div id="dario" class="step slide" data-x="-200" data-scale="1.2">
		<div id='meOnCV' class="tape"><img width="250" src="/static/cvMedia/fuerte.jpg" alt="Dario Varotto portrait">
		</div>
		<h1>Dario Varotto</h1>

		<p>Full stack Developer & tech geek</p>
	</div>

	<div id="previousWorks" class="step" data-x="-400" data-y="700" data-scale="0.5" data-rotate="90">
		<h1>Work experiences</h1>

		<div id="gears">
			<img id="g1" src="/static/cvMedia/gear.svg" alt="">
			<img id="g2" src="/static/cvMedia/gear.svg" alt="">
			<img id="g3" src="/static/cvMedia/gear.svg" alt="">
		</div>
	</div>

	{% set detailclasses = "step notHistory hidden " %}

	<div id="ravenpack" class="job step" data-x="-530" data-y="700" data-scale="0.3" data-rotate="90">
		<a href="https://www.ravenpack.com/" target="_blank">
			<img src="/static/cvMedia/works/ravenpack.svg" width="380" alt="RavenPack International S.L.">
		</a>

		<p class="timerange">since Feb 2015</p>
		<div class="role">Senior Python developer<br>Web dept. manager</div>
		<a class='more hidden' href="#ravenpack-detail">show more...</a>
	</div>

	<div id='ravenpack-detail' class="{{ detailclasses }}"
		 data-x="-590" data-y="700"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			<a target='_blank' href="https://www.ravenpack.com/">RavenPack S.L.</a> is a leading big data
			analytics provider for financial services.
		</p>
		<img class="screenshot" src="/static/cvMedia/screenshots/ravenpack/home.png" alt=""/>
	</div>

	<div id='ravenpack-detail-2' class="{{ detailclasses }}"
		 data-x="-590" data-y="730"
		 data-scale="0.07" data-rotate="90">
		<p class="longText">
			We built a dashboard to allow clients to query their dataset and get quick insights over
			their specific areas of interest.<br>
			We used a Socket.io real-time application and numerous AWS cloud services to deliver a
			great customer experience in the secure web application.
		</p>
		<img class="screenshot" src="/static/cvMedia/screenshots/ravenpack/dashboard.png" alt=""/>
	</div>

	<div id='ravenpack-detail-3' class="{{ detailclasses }}"
		 data-x="-590" data-y="760"
		 data-scale="0.07" data-rotate="90">
		<p class="longText">
			While development was my main focus, I managed a group of great Python Full-Stack
			Developers, selecting candidates, ensuring code quality and making technical design
			decisions to lead the team.<br>
		</p>
		<img class="screenshot" src="/static/icons/meeting.png" alt=""/>
	</div>


	<div id='interevent' class="job step" data-x="-630" data-y="700" data-scale="0.3" data-rotate="90">
		<a href="http://www.interactico.com/" target="_blank">
			<img src="/static/cvMedia/works/interactico.svg" height="120" width="216" alt="Interactico">
		</a>

		<p class="timerange">Aug 2013 - Jan 2015</p>
		<div class="role">Web developer</div>
		<a class='more hidden' href="#interevent-detail">show more...</a>
	</div>

	<div id='interevent-detail' class="{{ detailclasses }}"
		 data-x="-680" data-y="650" data-z="0"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			<a target='_blank' href="http://www.interactico.com/">Interevent</a> is a technology startup
			focused on the development of mobile apps and advanced web services for fair organizations.<br>
			It's technological part of the bigger group <a href="http://www.giplanet.com/" target="_blank">GiPlanet</a>.
		</p>
		<img class="screenshot" src="/static/cvMedia/screenshots/interactico/interactico_main.jpg" alt=""/>
	</div>

	<div id='interevent-detail-2' class="{{ detailclasses }}"
		 data-x="-680" data-y="680" data-z="0"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			My job involved the development of frontend site, the web area to allow exhibitors to create their
			web-catalog served to the apps and the backend integration with fair databases.
		</p>
		<img class="screenshot" src="/static/cvMedia/screenshots/interactico/multi-iphone.png" alt=""/>
	</div>

	<div id='interevent-detail-3' class="{{ detailclasses }}"
		 data-x="-680" data-y="710" data-z="0"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			During the <a href="http://www.vinitaly.com/EN" target="_blank">Vinitaly International Judging Competition
			2014,</a>
			I was responsible for the development of the backend system and deployment of the event.<br/>
			This involved the management of data and the preparation of an API called
			in real-time by an app used by more than one hundred judges concurrently.
		</p>
		<img class="screenshot" src="/static/cvMedia/screenshots/interactico/vinitaly.jpg" alt=""/>
	</div>

	<div id='interevent-detail-4' class="{{ detailclasses }}"
		 data-x="-680" data-y="740" data-z="0"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			GiPlanet organized entirely the Matching Fair 2014 in Milano Rho.<br/>
			I made the exhibitor registration platform (Django), the ticketing system and
			a Python application able to work offline using Kivy, OpenCV used for the gateway,
			used by the 4.000 visitors and exhibitor in the 3 days of the fair.
		</p>
		<img class="screenshot" src="/static/cvMedia/screenshots/interactico/matching.jpg" alt=""/>
	</div>


	<div id='mion' class="job step"
		 data-x="-730" data-y="700" data-scale="0.3" data-rotate="90">
		<a target='_blank' href="http://www.mion.com/">
			<img src="/static/cvMedia/works/mion.svg" width="300" height="112"
				 alt="Mion labels"></a>

		<p class="timerange">Feb 2006 - Aug 2013</p>
		<div class="role"><p>Developer & Sysadmin</p></div>
		<a class='more hidden' href="#mion-detail">show more...</a>
	</div>


	<!-- notHistory hidden -->
	<div id='mion-detail' class="{{ detailclasses }}"
		 data-x="-785" data-y="700" data-z="20"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			<a target='_blank' href="http://www.mion.com/">Mion s.p.a.</a> is a medium-sized production company
			making woven labels and printed hangtags for fashion firms all over the world.
		</p>

		<p class="longText">
			My job involved many optimizations and integration problems.<br>
			Interfacing with a closed source ERP and developing interfaces with many tools was
			funny and challenging.
		</p>
	</div>

	<div id='mion-detail-2' class="{{ detailclasses }}"
		 data-x="-785" data-y="690" data-z="10"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			One of the tasks involved the management of the product images.<br>
			I developed a C# client-server system to provide a flexible storage,
			with size calibration and ACL needed for the next steps...
		</p>
		<img class='screenshot' src="/static/cvMedia/screenshots/web.mion/0.%20mimago.jpg"
			 alt="Screenshot of Mimago (a product images manager for Mion">
	</div>

	<div id='mion-detail-3' class="{{ detailclasses }}"
		 data-x="-785" data-y="700"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			Then a Django web app was created to get the data from our ERP and allow
			customer interaction, operability, and connection with tracking services.
			The new platform was both flexible and modular to be able to manage the upcoming needs.
		</p>
		<img class='screenshot' src="/static/cvMedia/screenshots/web.mion/wob.jpg"
			 alt="Screenshots of Web Ordering System">
	</div>

	<div id='mion-detail-4' class="{{ detailclasses }}"
		 data-x="-785" data-y="710"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			Another module allowed agents to see the collection in a catalog
			and request samples in their mobile devices, opening new business channels.
		</p>
		<img class='screenshot' src="/static/cvMedia/screenshots/web.mion/catalog.jpg"
			 alt="Screenshots for the Mion catalog online">
	</div>


	<div id='tam' class="job step" data-x="-850" data-y="700" data-scale="0.3" data-rotate="90">
		<img src="/static/cvMedia/works/tam.svg" width="180" height="180"
			 alt="TaM Taxi Manager">

		<div class="role"><p>Full-stack Django Developer</p></div>
		<p class="timerange">Since 2009</p>
		<a class='more hidden' href="#tam-detail">show more...</a>
	</div>

	<div id='tam-detail' class="{{ detailclasses }}"
		 data-x="-920" data-y="700" data-z="30"
		 data-scale="0.1" data-rotate="90">
		<div class="longText">
			<p>TaM is a Taxi Manager system to manage local Taxi consortia in Padova area.<br>
				I was asked to create a complete platform to cover all the aspects of drivers and
				administrative work.</p>
			<p>The project evolved in the years and and since then two other taxi contortia are
				using it. The source code is Open Source,
				<a href="https://github.com/dariosky/tam" target="_blank">available in Github</a>.
			</p>
		</div>
		<img class='screenshot' src="/static/cvMedia/screenshots/TaM/0.homes.jpg"
			 alt="Screenshots of the Tam login pages">
	</div>

	<div id='tam-detail-2' class="{{ detailclasses }}"
		 data-x="-920" data-y="700" data-z="20"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			Prices, costs, customers managements, routes are all managed from the web interface.
		</p>
		<img class='screenshot' src="/static/cvMedia/screenshots/TaM/1.main.jpg"
			 alt="TaM main page">
	</div>

	<div id='tam-detail-3' class="{{ detailclasses }}"
		 data-x="-920" data-y="700"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			All the action follow strict ACL policies and logs are stored in a DB.<br>
			Invoices are created automatically and can be exported as PDF.
		</p>
		<img class='screenshot' src="/static/cvMedia/screenshots/TaM/2.screens.jpg"
			 alt="Some screenshot of TaM">
	</div>

	<div id='tam-detail-4' class="{{ detailclasses }}"
		 data-x="-920" data-y="700" data-z="-30"
		 data-scale="0.1" data-rotate="90">
		<p class="longText">
			A custom access has been given to hotels and agencies customers to allow them to book travels
			and get notifications by email.
		</p>
		<img class='screenshot' src="/static/cvMedia/screenshots/TaM/3.hotel.jpg"
			 alt="Screenshot of the hotel access for Tam">
	</div>

	<div id='otherWorks' class="job step" data-x="-1050" data-y="700" data-scale="0.3" data-rotate="90">
		<h1>Previous jobs</h1>

		<div class="flexlist">

			<div>
				<h2>Developer & sysadmin</h2>

				<p>Rigomar s.r.l.</p>

				<div>
					<img src="/static/cvMedia/works/other/logo%20Rigomar.gif"
						 alt="Rigomar logo">
				</div>
			</div>

			<div>
				<h2>CAD technician</h2>

				<p><a href="http://www.ecospacesystem.it/" target="_blank">ECO systems s.r.l.</a></p>

				<div>
					<img src="/static/cvMedia/works/other/logo%20eco.png"
						 alt="ECO space system logo">
				</div>
			</div>
		</div>
		<div class="flexlist">

			<div>
				<h2>Computer science teacher</h2>

				<p><a href="http://www.istitutodantealighieri.it/" target="_blank">Istituto Dante Alighieri</a></p>

				<div>
					<img src="/static/cvMedia/works/other/dante.png"
						 alt="Istituto dante alighieri logo">
				</div>
			</div>

			<div>
				<h2>3D modeler</h2>

				<p>Progress pubblicità</p>

				<div>
					<img src="/static/cvMedia/works/other/logo%20progress.gif" alt="Progress pubblicità logo">
				</div>
			</div>
		</div>
	</div>
	<div id="education" class="step" data-x="0" data-y="700" data-scale="0.5" data-rotate="90">
		<h1>Certifications</h1>
		<img src="/static/cvMedia/university%20hat.svg"
			 alt=""
			 width="150" height="120"
			 style="text-align: center; display: block; margin: 90px auto">

		<div class="sublist-block">
			<div class="udacity">
				<img src="/static/udacity.svg" width="200" alt="">
				<h2>React Nanodegree Certificate</h2>
				<br>
				<p>React+Redux+React Native</p>
			</div>

			<div class="mongo">
				<img src="/static/mongodb.svg" width="200" alt="">
				<h2>MongoDB for Developers</h2>
				<h2>MongoDB Certified DBA</h2>
				<br>
				<p>MongoDB University, Dec 2012 & Nov 2013</p>
			</div>

			<div class="school">
				<div id="university">
					<div>
						<img src="/static/cvMedia/logo_unipd_small.png"
							 alt="University of Padua - logo"
							 height="70">
					</div>

					<h2>Engineer in Computer Science</h2>

					<p>University of Padua, 2005</p>
				</div>

				<div id="secondary">
					<h2>Head technician in computer technology</h2>

					<p>Galileo Ferraris, Padua, 1998</p>
				</div>
			</div>
		</div>
	</div>

	<div id='skills' class="job step" data-x="400" data-y="680" data-scale="0.5" data-rotate="-90">
		<h1>Skilltags</h1>

		<div class="flexlist vertical">

			<div>
				<h2>Backend Development</h2>
				#django #postgresql #mongodb<br/>
				#mediagenerator #reportlab #django-restframework<br/>
				#tsql #aws #git #svn #webfaction
			</div>

			<div>
				<h2>Administration</h2>
				#linux #virtualization #vmware #vsphere<br/>
				#gunicorn<br/>
				#qmail #squid #sme #aws
			</div>

			<div>
				<h2>Frontend</h2>
				#react #javascript #jquery #html #css<br/>
				#socket.io #nodejs #meteor
			</div>

			<div>
				<h2>Design</h2>
				#photoshop #inkscape #aftereffects
			</div>
		</div>
	</div>

	<div id="details" class="step slide hidden" data-x="-570" data-y="-150" data-z="-10"
		 data-scale=".3" data-rotate-y="180" data-rotate-z="5">
		<h1>Contact details</h1>

		<p><a href="mailto:dario.varotto@gmail.com">dario.varotto@gmail.com</a></p>

		<p>
			<a href="https://www.linkedin.com/in/dariovarotto/" target="_blank">
				<img class="icon" src="/static/cvMedia/details/linkedin.svg" alt="linkedin"/> dariovarotto
			</a>
		</p>

		<p>
			<a href="https://github.com/dariosky" target="_blank">
				<img class="icon" src="/static/cvMedia/details/github.svg" alt="twitter"/> dariosky
			</a>
		</p>

		<p>
			<a href="skype:dario.varotto"><img class="icon" src="/static/cvMedia/details/skype.svg" alt="skype">
				dario.varotto</a>
		</p>

		<p>
			<a href="https://twitter.com/dariosky" target="_blank">
				<img class="icon" src="/static/cvMedia/details/twitter.svg" alt="twitter"/> @dariosky
			</a>
		</p>
	</div>

	<div id="overview" class="step" data-x="-250" data-y="300" data-scale="1.8">
	</div>

</div>

<div class="hint">
	<p>Use spacebar or arrow keys to navigate</p>
</div>
<script>
	if ("ontouchstart" in document.documentElement) {
		document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
	}
	try {
		// prevent the mouse wheel
		var mouseWheelHandler = function () {
			return false;
		};
		document.addEventListener("mousewheel", mouseWheelHandler, false);
		document.addEventListener("DOMMouseScroll", mouseWheelHandler, false);
	}
	catch (e) {
	}


</script>

<script src="/static/impress.js/js/impress.js"></script>
<script>
	var api = impress();
	api.init();
	var unLinearStory = function (root) {
		var oldNext = api.next,
				oldPrev = api.prev;

		function override(oldfunc) {
			// return a function equal to the oldfunc (prev/next) but skipping steps if they are .notHistory
			var skipDetail = false;
			return function () {
				var result,
						currentStep = document.querySelector('.active'); // get the current step
				if (skipDetail && currentStep.classList.contains('notHistory')) {
					// if we are in a detail step, move to next detail
					return oldfunc.apply(this, arguments);
				}

				do {
					result = oldfunc.apply(this, arguments); // like calling super
				}
				while (skipDetail && result.classList.contains('notHistory'));	// skip if .notHistoy
				return result;
			}
		}

		api.next = override(oldNext);
		api.prev = override(oldPrev);

	};
	unLinearStory(api);	// my CV should not linear, .nostory steps should be reached only by goto
</script>
{% endblock %}
